@font-face {
    font-family: "parastoo-Regular";
    src: url('../fonts/web/Farsi-Digits-Without-Latin/Parastoo-FD-WOL.ttf') format("truetype");
}

@font-face {
    font-family: "parastoo-Bold";
    src: url('../fonts/web/Farsi-Digits-Without-Latin/Parastoo-Bold-FD-WOL.ttf') format("truetype");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    background-color: #031602;
}

.bg-black {
    background-color: black;
}

.font-bold {
    font-family: "parastoo-Bold";
}

.main-bg {
    background-color: #011201;
}

.main-bg2 {
    background-color: #30412E;
}

.main-text {
    color: #011201;
}

.second-bg {
    background-color: #E7A024;
}

.second-text {
    color: #E7A024;
}

.second-border {
    border: 1px solid #E7A024;
}

.text-gold-gradient {
    background: linear-gradient(180deg, #E7A024 28.91%, #7B4F03 128.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.third-bg {
    background-color: #677367;
}

.third-bg2 {
    background-color: #2B3E2B;
}

.third-bg3 {
    background-color: #2B3E2B80;
}

.third-text {
    color: #677367;
}

.third-border {
    border: 1px solid #677367;
}

.text-black {
    color: black;
}

.bg-gray {
    background-color: #eeeff0;
}

.bg-gray2 {
    background-color: #eff0f1;
}

.border-main {
    border: 8px solid #30412E;
}

.border-y-main {
    border-top: 1px solid #414F40;
    border-bottom: 1px solid #414F40;
}

.border-bottom-main {
    border-bottom: 1px solid #132512;
}

.border-third {
    border: 1px solid #616461;
}

.gray-divider {
    width: 1px;
    height: 17px;
    background-color: #707070;
}

.cursor {
    cursor: pointer;
}

.z-10 {
    z-index: 10;
}

.z-12 {
    z-index: 12;
}

.z-100 {
    z-index: 100;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}

a:hover {
    color: #E7A024;
}

.fs-7 {
    font-size: 12px;
}

.fs-8 {
    font-size: 10px;
}

.fs-14 {
    font-size: 14px;
}

.transition {
    transition: all .4s;
}

.w-8 {
    width: 8px;
}

.h-8 {
    height: 8px;
}

.w-21 {
    width: 21px;
}

.h-21 {
    height: 21px;
}

.w-60 {
    width: 60px;
}

.h-60 {
    height: 60px;
}

.w-88 {
    width: 88px;
}

.h-88 {
    height: 88px;
}

.w-44 {
    width: 44px;
}

.h-44 {
    height: 44px;
}

.w-63 {
    width: 63px !important;
}

.h-63 {
    height: 63px !important;
}

.w-74 {
    width: 74px !important;
}

.w-95 {
    width: 95px;
}

.h-74 {
    height: 74px !important;
}

.h-84 {
    height: 84px !important;
}

.h-122 {
    height: 122px;
}

.w-142 {
    width: 142px;
}

.h-142 {
    height: 142px;
}

.h-195 {
    height: 195px;
}

.w-200 {
    width: 200px;
}

.h-268 {
    height: 268px;
}

.w-230 {
    width: 230px;
}

.h-336 {
    height: 336px;
}

.w-284 {
    width: 284px;
}

.w-292 {
    width: 292px;
}

.h-427 {
    height: 427px;
}

.w-193 {
    width: 193px;
}

.h-282 {
    height: 282px;
}

.socials a:hover {
    color: #ffca36 !important;
}

.special-hover {
    overflow: hidden;
}

.special-hover1:hover {
    color: #e7a024 !important;
    background: #031602 !important;
    border: 1px solid #e7a024 !important;
    font-weight: bold !important;
}

.special-hover2:hover {
    color: #031602 !important;
    background: #e7a024 !important;
    border: 1px solid #031602 !important;
    font-weight: bold !important;
}

.special-hover3:hover {
    color: cadetblue !important;
    font-weight: bold !important;
}

.special-rounded {
    border-radius: 347px 347px 0px 0px;
}

.special-rounded2 {
    border-radius: 196px 0 0 196px;
}

.rounded-22 {
    border-radius: 22px;
}

.rounded-38 {
    border-radius: 38px;
}

.bottom-12 {
    bottom: -12px;
}

.top-52 {
    top: -52px;
}

.top-98 {
    top: -98px;
}

.top-44 {
    top: -44px;
}

.right-6 {
    right: 6px;
}

.right-100 {
    right: -100px;
}

.left-71 {
    left: -71px;
}

.right-183 {
    right: -213px;
}

.top-86 {
    top: 116px;
}

.pt-152 {
    padding-top: 152px !important;
}

.outline-none {
    outline: none;
}

.sun {
    width: 106px;
    height: 106px;
    background-color: #E7A024;
    border-radius: 50%;
    display: block;
    margin-bottom: -106px;
    position: relative;
    top: -48px;
}

.case-sun {
    margin-right: -130px;
    margin-bottom: -139px;
}

.cases2 .swiper-pagination-bullet-active {
    opacity: 100%;
    background: #E7A024;
}

.cases2 .swiper-pagination-bullet {
    width: 17px;
    height: 9px;
    border-radius: 8px;
    border: 3px solid #636562;
    margin: 0 5px;
    overflow: hidden;
}

.custom-blur {
    backdrop-filter: blur(9px);
}

.rotate-180 {
    transform: rotate(180deg);
}

.pb-90 {
    padding-bottom: 90px;
}

.mb-7 {
    margin-bottom: -7px;
}

.gray-gradient {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.opacity-none {
    opacity: 0;
}

.bg-flower {
    background-image: url('../img/hasan-almasi-o_JU7aQCHPQ-unsplash\ \(3\)\ 1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bg-flower::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #031703e5;
}

/* header */

header {
    position: relative;
}

header img.position-absolute {
    margin-top: 94px;
    z-index: 1;
    width: 183px;
}

header::before {
    content: '';
    position: absolute;
    width: 71%;
    left: 0px;
    right: 0;
    height: 27px;
    bottom: 4px;
    box-shadow: 0 56px 172px #E7A024;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
}

header ul li a {
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #E7A024;
    border-bottom: 2px solid #E7A024;
}

img[alt='logo'] {
    width: 70px;
    position: relative;
    bottom: -29px;
    z-index: 1;
}

/* banner */

#banner img[alt='banner'] {
    width: 336px;
    height: 422px;
    border-top-left-radius: 168px;
    border-top-right-radius: 168px;
}

.slide-bg {
    background-color: #4E614E99;
    width: 368px;
    height: 581px;
    border-radius: 184px 184px 0 0;

}

#banner .swiper-pagination {
    display: none;
}

#banner .swiper-button-prev,
#banner .swiper-button-next {
    top: 50%;
    width: 37px;
    height: 64px;
    border-radius: 18.5px;
    border: 1px solid #3D483C;
    background-color: #031803;

}

#banner .swiper-button-prev {
    left: 0;
    transition: all .4s;
}

#banner .swiper-button-next {
    right: 0;
    transition: all .4s;
}

.swiper-button-prev::after,
.swiper-button-next::after,
.mobile-menu li a.active {
    color: #E7A024;
    font-size: 16px;
    transition: all .4s;
}

#banner .swiper-button-prev:hover,
#banner .swiper-button-next:hover {
    color: #031602 !important;
    background: #e7a024 !important;
    border: 1px solid #031602 !important;
}

#banner .swiper-button-prev:hover:after,
#banner .swiper-button-next:hover:after {
    color: #031602 !important;
    font-weight: bold;
}

.ganjine {
    background-color: #2f432f;
    width: 368px;
    height: 581px;
    border-radius: 184px 184px 0 0;
    margin: auto;
}

/* searchbox */
.searchbox {
    width: 715px;
}

/* statistics */
.slide-bg.statistics {
    width: 294px;
    height: 302px;
    border-radius: 70px 70px 0 0;
}

.state {
    background-image: url('../img/Ellipse\ 7.png');
    background-position: center 354px;
    background-size: 1189px;
    background-repeat: no-repeat;
}

/* contact page */
.contact #statistics a {
    width: 50px;
    height: 50px;
}

.contact .slide-bg.statistics {
    height: 119px;
    border-radius: 290px 0 0px 290px;
}

.contact #statistics .sun {
    margin-bottom: -106px;
    top: -1px;
    right: 33px;
    margin-bottom: 0;
}

.contact #statistics img[alt="icon"] {
    top: 26px;
    right: -33px !important;
}

/* footer */
footer {
    background-image: url('../img/Union.png');
    height: 132px;
    background-position: center;
    filter: contrast(114%);
    z-index: 99;
}

/* responsive */
@media only screen and (max-width:1400px) {
    .slide-bg {
        width: auto;
    }

    .top-86 {
        top: 82px;
    }

    .right-183 {
        right: -176px;
    }
}

@media only screen and (max-width:1200px) {
    .slide-bg {
        width: 368px;
    }

    .slide-bg.statistics {
        height: 119px;
        border-radius: 290px 0 0px 290px;
    }

    #banner .swiper-button-next {
        right: 0;
        top: 92.7%;
        transition: all .4s;
    }

    #banner .swiper-button-prev {
        left: 0;
        top: 92.7%;
        transition: all .4s;
    }

    #banner .swiper-pagination {
        left: 0;
        right: 0;
        bottom: 31px;
        display: block;
    }

    #banner .swiper-pagination-bullet {
        width: 30px;
        height: 4px;
        background: #D9D9D9;
        border-radius: 5px;
        opacity: 100%;
        margin: 0 4px;
    }

    #banner .swiper-pagination-bullet-active {
        background-color: #E7A024;
    }

    .ganj::before {
        right: -856px;
        top: 7px;
    }

    #statistics img[alt='icon'] {
        top: 36px;
        right: -38px !important;
    }

    #statistics .sun {
        margin-bottom: -106px;
        top: -1px;
        right: 54px;
        margin-bottom: 0;
    }

    .right-183 {
        right: -134px;
    }

    .top-86 {
        top: 56px;
    }
}

@media only screen and (max-width:992px) {

    .mobile-menu {
        right: -1050px;
        top: 0;
        bottom: 0;
        background-color: #031602;
        width: 100%;
        z-index: 9999;
        line-height: 46px;
        transition: all .4s;
    }

    .mobile-menu.active {
        right: 0;
    }

    .mobile-menu li {
        border-top: 1px solid #414F40;
    }

    .mobile-menu li:last-child {
        border-bottom: 1px solid #414F40;
    }

    .ganj::before {
        right: -631px;
    }

    .state {
        background-position: center 1037px;
        background-size: 803px;
    }

    .w-284 {
        width: 100%;
    }

    .top-86 {
        top: 143px;
    }

    .right-183 {
        right: -244px;
    }

    .special-rounded2 {
        border-radius: 0 0 0 0;
    }
}

@media only screen and (max-width:768px) {
    .ganj::before {
        right: -467px;
    }

    #statistics a {
        width: 84px;
        height: 84px;
    }

    .state {
        background-size: 526px;
    }

    .top-86 {
        top: 81px;
    }

    .right-183 {
        right: -166px;
    }
}

@media only screen and (max-width:576px) {

    .ganj::before {
        right: -368px;
    }

    .searchbox {
        width: 100%;
    }

    .state {
        background-size: 291px;
    }

    .right-100 {
        right: -38px;
    }

    footer p {
        font-size: 11px;
    }

    .right-183 {
        right: -114px;
    }

    .top-86 {
        top: 38px;
    }
}

@media only screen and (max-width:400px) {
    .ganj::before {
        right: -284px;
    }
}